.page-container {
  min-height: 35vh;
  padding: 0 calc(((100vw - 1440px) / 2) + 1rem);
  padding-bottom: 2rem;

  @include desktop {
    padding: 0 4rem 2rem 4rem;
  }

  @include tablet-large {
    padding: 2rem 4rem;
  }

  @include phone {
    padding: 2rem;
  }

  & > p {
    max-width: 75%;
    line-height: 2;

    @include tablet {
      max-width: 100%;
    }
  }
}
