.product-card {
  &__header {
    height: 5.75rem;
    margin-bottom: 0.5rem;
    padding: 0 1.5rem;
  }

  &__meta {
    margin-bottom: 1rem;
  }

  &__button {
    margin-bottom: 0.5rem !important;

    &:last-of-type {
      margin-bottom: 0 !important;
    }
  }
}
