.signin {
  padding: 8rem 0 16rem 0;

  @include tablet-large {
    padding: 4rem 2rem 6rem 2rem;
  }

  @include tablet {
    padding: 2rem 2rem 4rem 2rem;
  }

  @include phone {
    padding: 2rem;
  }

  &__heading {
    margin-bottom: 2rem !important;
    padding-left: 1rem !important;
    text-align: left;
    width: 100%;

    @include phone {
      font-size: 1.2rem !important;
    }
  }

  &__action {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include tablet-large {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__action-button {
    @include tablet-large {
      margin-bottom: 1rem !important;
      width: 8rem;
    }
  }

  &__signup-arrow-link {
    margin-left: 1rem;
  }

  &__no-account {
    display: flex;
    flex-direction: column;

    @include tablet-large {
      display: none !important;
    }
  }
}
