.signup {
  padding: 4rem 0 8rem 0;

  @include tablet-large {
    padding: 4rem 2rem 6rem 2rem;
  }

  @include tablet {
    padding: 2rem 2rem 4rem 2rem;
  }

  @include phone {
    padding: 2rem;
  }

  &__heading {
    padding-left: 1rem !important;
  }

  &__action {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @include tablet-large {
      align-items: flex-start;
      flex-direction: column;
    }
  }

  &__signin-arrow-link {
    margin-left: 1rem;
  }
}
