.slider {
  overflow: hidden;
  position: relative;

  &:focus {
    outline: none;
  }

  &__image {
    background-position: center left !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 520px;
    margin: 0 auto;
    width: 1440px;
  }

  &__actions {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;

    &--1 {
      left: calc(((100vw - 1440px) / 2) + 16rem);
      top: 18rem;
      transform: translateX(-50%);
    }

    &--2 {
      left: 50%;
      top: 20%;
      transform: translateX(-50%);
    }

    &--3 {
      right: calc(((100vw - 1440px) / 2) - 13rem);
      top: 19rem;
      transform: translateX(-50%);
    }
  }
}

.slick-prev {
  left: 5% !important;
  z-index: 5000;

  &:before {
    color: black !important;
  }
}

.slick-next {
  right: 5% !important;
  z-index: 5000;

  &:before {
    color: black !important;
  }
}
