.account {
  min-height: 45vh;

  &__user-name {
    margin-bottom: 1rem;
  }

  &__user-email {
    margin-bottom: 2rem;
  }

  &__user-address {
    margin-bottom: 2rem;
  }

  &__edit-button {
    margin-bottom: 0.5rem !important;
  }
}
