.browse {
  padding: 0 calc(((100vw - 1440px) / 2) + 1rem);
  padding-left: 3rem;

  @include tablet {
    text-align: center;
    padding: 0 3rem;
  }

  &__filters-heading {
    @include tablet {
      text-align: center;
    }
  }
}
