.header {
  margin-bottom: 6rem;

  &__logo {
    padding-left: 1.25rem;
    width: 100%;
  }
}

.user-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1440px) / 2);

  &__links {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
}

.product-header {
  padding: 0 calc((100vw - 1440px) / 2);

  &__dropdown {
    height: 4rem;
  }
}
